[Unit]
Description=Run Laravel scheduler every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Unit=laravel-scheduler.service

[Install]
WantedBy=timers.target
